<div id="<%= dom_id savings_commitment %>">
  <p>
    <strong>Member:</strong>
    <%= savings_commitment.member_id %>
  </p>

  <p>
    <strong>Target amount:</strong>
    <%= savings_commitment.target_amount %>
  </p>

  <p>
    <strong>Monthly contribution:</strong>
    <%= savings_commitment.monthly_contribution %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= savings_commitment.status %>
  </p>

</div>
