<%= form_with(model: loan_repayment, class: "contents") do |form| %>
  <% if loan_repayment.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(loan_repayment.errors.count, "error") %> prohibited this loan_repayment from being saved:</h2>

      <ul class="list-disc ml-6">
        <% loan_repayment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :loan_id %>
    <%= form.text_field :loan_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": loan_repayment.errors[:loan_id].none?, "border-red-400 focus:outline-red-600": loan_repayment.errors[:loan_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :member_id %>
    <%= form.text_field :member_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": loan_repayment.errors[:member_id].none?, "border-red-400 focus:outline-red-600": loan_repayment.errors[:member_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :payment_amount %>
    <%= form.text_field :payment_amount, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": loan_repayment.errors[:payment_amount].none?, "border-red-400 focus:outline-red-600": loan_repayment.errors[:payment_amount].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :payment_date %>
    <%= form.date_field :payment_date, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": loan_repayment.errors[:payment_date].none?, "border-red-400 focus:outline-red-600": loan_repayment.errors[:payment_date].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :note %>
    <%= form.text_area :note, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": loan_repayment.errors[:note].none?, "border-red-400 focus:outline-red-600": loan_repayment.errors[:note].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
