<div id="<%= dom_id loan_repayment %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Loan:</strong>
    <%= loan_repayment.loan_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Member:</strong>
    <%= loan_repayment.member_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Payment amount:</strong>
    <%= loan_repayment.payment_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Payment date:</strong>
    <%= loan_repayment.payment_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Note:</strong>
    <%= loan_repayment.note %>
  </div>
</div>
