<div id="<%= dom_id loan %>">
  <p>
    <strong>Member:</strong>
    <%= loan.member_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= loan.amount %>
  </p>

  <p>
    <strong>Interest rate:</strong>
    <%= loan.interest_rate %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= loan.status %>
  </p>

</div>
