<h1>All Loans</h1>

<table class="styled-table">
  <thead>
    <tr>
      <th>Member</th>
      <th>Loan Type</th>
      <th>Loan Amount</th>
      <th>Interest Rate (%)</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.member.name %></td>
        <td><%= loan.loan_type %></td>
        <td><%= number_to_currency(loan.amount) %></td>
        <td><%= loan.interest_rate %></td>
        <td><%= loan.status.capitalize %></td>
        <td>
          <%= link_to 'Show', loan_path(loan), class: 'btn btn-info' %>
          <%= link_to 'Edit', edit_loan_path(loan), class: 'btn btn-warning' %>
          <%= link_to 'Delete', loan_path(loan), method: :delete, data: { confirm: 'Are you sure you want to delete this loan?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Loan', new_loan_path, class: 'btn btn-primary' %>

