<nav class="navbar">
  <div class="container">

    <!-- Navigation Links -->
    <ul class="nav-links">
      <li><a href="<%= members_path %>">Members</a></li>
      <li><a href="<%= accounts_path %>">Accounts</a></li>
      <li><a href="<%= loans_path %>">Loans</a></li>
      <li><a href="<%= transactions_path %>">Transactions</a></li>
      <li><a href="<%= dashboard_path %>">Dashboard</a></li>
    </ul>
  </div>
</nav>
