<h1 class="page-title">All Members</h1>


<table class="styled-table">
  <thead>
    <tr>
    <th>S/N</th>
      <th>Full Name</th>
      <th>Membership Type</th>
      <th>Date of Birth</th>
      <th>Gender</th>
      <th>Phone</th>
      <th>Next of Kin</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each_with_index do |member, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= member.name %></td>
        <td><%= member.membership_type %></td>
        <td><%= member.date_of_birth %></td>
        <td><%= member.gender.capitalize %></td>
        <td><%= member.phone %></td>
        <td><%= "#{member.kin_given_name} #{member.kin_surname} (#{member.kin_relationship})" %></td>
        <td class="actions">
  <%= link_to "View", member_path(member), class: "btn btn-info btn-sm" %>
  <%= link_to "Edit", edit_member_path(member), class: "btn btn-warning btn-sm" %>
  <%= link_to "Delete", member_path(member), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
</td>

      </tr>
    <% end %>
   
  </tbody>
</table>
<div class="">
<%= link_to "Register Member", new_member_path, class: "btn btn-primary" %>
</div>