# Updated account form
<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
     <%= form.label :member_id, "Member", style: "display: block" %>
    <%= form.collection_select :member_id, Member.all, :id, ->(m) { "#{m.surname} #{m.given_name} #{m.other_name}" }, prompt: "Select Member", class: "form-control" %>

  </div>

  <div>
     <%= form.label :membership_status, "Membership Status", style: "display: block" %>
     <%= form.text_field :membership_status, class: "form-control" %>
  </div>

  <div>
     <%= form.label :account_type, "Account Type", style: "display: block" %>
     <%= form.select :account_type, ["Current", "Fixed"], { prompt: "Select Account Type" }, class: "form-control" %>
  </div>

  <div class="field">
  <%= form.label :principal_amount %>
  <%= form.number_field :principal_amount, step: 0.01 %>
</div>
  <div>
     <%= form.label :deposit, "Deposit", style: "display: block" %>
     <%= form.text_field :deposit, class: "form-control" %>
  </div>

  <div>
     <%= form.submit "Create Account", class: "btn btn-primary" %>
  </div>
<% end %>
